.container {
    display: flex;
    flex-wrap: wrap;
	flex-direction: row;
    align-items: center;
	justify-content: center;
}

.textoinicio {
	text-align: center;
	align-items: center;
    font-size: 18px;
}

.text {
	margin-left: 25px;
	width: 660px;
	height: 50px;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}

.pregunta {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	font-size: 20px;
	text-transform: uppercase;
	color: #113CFC;
}

.imagenes img {
	align-items: center;
	justify-content: center;
	width: 620px;
	margin: 5px;
	box-shadow: 10px 10px 10px #888888;
	margin-bottom: 50px;
}

@media screen and (max-width: 1600px) {
	nav a {
		font-size: 17px;
		padding: 5px;
	}

	.titulo {
		font-size: 17px;
		padding: 5px;
	}

	.titulo h1 {
		font-size: 60px;
	}
	
	.titulo p {
		font-size: 30px;
		text-transform: uppercase;
		color: #113CFC;
	}

	.imagenes img {
		align-items: center;
		justify-content: center;
		width: 32%;
	}

	.container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding-top: 10px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.preguntaInicio {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 25px;
	}
	
	.pregunta {
		font-size: 20px;
		color: #113CFC;
	}

	.texto {
		font-size: 11px;
	}
}

@media screen and (max-width: 800px) {
	nav a {
		font-size: 14px;
		padding: 5px;
	}

	.titulo {
		font-size: 14px;
		padding: 5px;
	}
}

@media screen and (max-width: 450px) {
	nav a {
		font-size: 7px;
	}

	.titulo {
		height: calc(10vh - 100px);
		padding: 30px;
	}

	.titulo h1 {
		font-size: 30px;
	}
	
	.titulo p {
		font-size: 10px;
		text-transform: uppercase;
		color: #113CFC;
	}

	.imagenes img {
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 5px;
	}

	.container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding-top: 10px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.preguntaInicio {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 25px;
	}
	
	.pregunta {
		font-size: 20px;
		color: #113CFC;
	}

	.texto {
		font-size: 11px;
	}
}